# Military Power Clustering Project
-World military power
Source : globalfirepower.com on 1st may 2020

- https://data.world/vizzup/world-military-power/workspace/file?filename=World+military+power.xlsx

# Import Libraries

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
plt.rcParams["figure.figsize"] = (10,6)
import warnings
warnings.filterwarnings("ignore")

# Ingest Data

In [28]:
df = pd.read_excel("World military power.xlsx", header=1)

# EDA

In [29]:
df.head()

,Military Strength,Military Strength Power Index,Aircraft Strength,Aircraft Strength value,Fighter/Interceptor Strength,Fighter/Interceptor Strength value,Attack Aircraft Strength,Attack Aircraft Strength value,Transport Aircraft Fleet Strength,Transport Aircraft Fleet Strength value,Trainer Aircraft Fleet,Trainer Aircraft Fleet value,Helicopter Fleet Strength,Helicopter Fleet Strength value,Attack Helicopter Fleet Strength,Attack Helicopter Fleet Strength value,Tank Strength,Tank Strength value,AFV/APC Strength,AFV/APC Strength value,Self-Propelled Artillery Strength,Self-Propelled Artillery Strength value,Towed Artillery Strength,Towed Artillery Strength value,Rocket Projector Strength,Rocket Projector Strength value,Navy Fleet Strengths,Navy Fleet Strengths value,Aircraft Carrier Fleet Strength,Aircraft Carrier Fleet Strength value,Submarine Fleet Strength,Submarine Fleet Strength value,Destroyer Fleet Strength,Destroyer Fleet Strength value,Frigate Fleet Strength,Frigate Fleet Strength value,defense spending budget,defense spending budget value,External Debt,External Debt value,Airport Totals,Airport Totals value,Oil Production,Oil Production value,Oil Consumption,Oil Consumption value,Proven Oil Reserves,Proven Oil Reserves value,Available Manpower,Available Manpower value,Total Population,Total Population value,Total Square Land Area,Total Square Land Area value,Total Coastline Coverage,Total Coastline Coverage value,Total Waterway Coverage,Total Waterway Coverage value,Total Border Coverage,Total Border Coverage value
0,Afghanistan,1.3444,Afghanistan,260,Afghanistan,0,Afghanistan,25,Afghanistan,30,Afghanistan,0,Afghanistan,187,Afghanistan,0,Afghanistan,0,Afghanistan,1062,Afghanistan,0,Afghanistan,176,Afghanistan,50,Afghanistan,0.0,Afghanistan,0.0,Afghanistan,0.0,Afghanistan,0.0,Afghanistan,0.0,Afghanistan,"12,00,00,00,000",Afghanistan,"2,84,00,00,000",Afghanistan,43,Afghanistan,0,Afghanistan,5500,Afghanistan,0,Afghanistan,"1,43,25,743",Afghanistan,"3,49,40,837",Afghanistan,"6,52,230",Afghanistan,0,Afghanistan,1200,Afghanistan,5987.0
1,Albania,2.3137,Albania,19,Albania,0,Albania,0,Albania,0,Albania,0,Albania,19,Albania,0,Albania,0,Albania,467,Albania,0,Albania,0,Albania,0,Albania,38.0,Albania,0.0,Albania,0.0,Albania,0.0,Albania,0.0,Albania,"25,00,00,000",Albania,"9,50,50,00,000",Albania,4,Albania,16000,Albania,42500,Albania,"16,83,00,000",Albania,"15,19,438",Albania,"30,57,220",Albania,28748,Albania,362,Albania,41,Albania,691.0
2,Algeria,0.4659,Algeria,551,Algeria,103,Algeria,22,Algeria,59,Algeria,87,Algeria,257,Algeria,45,Algeria,880,Algeria,7361,Algeria,320,Algeria,240,Algeria,316,Algeria,201.0,Algeria,0.0,Algeria,6.0,Algeria,0.0,Algeria,5.0,Algeria,"13,00,00,00,000",Algeria,"6,26,00,00,000",Algeria,157,Algeria,"13,06,000",Algeria,"3,25,000",Algeria,"12,20,00,00,000",Algeria,"2,07,41,263",Algeria,"4,16,57,488",Algeria,"23,81,741",Algeria,998,Algeria,0,Algeria,6734.0
3,Angola,0.8379,Angola,295,Angola,72,Angola,18,Angola,30,Angola,47,Angola,126,Angola,15,Angola,379,Angola,595,Angola,28,Angola,357,Angola,115,Angola,57.0,Angola,0.0,Angola,0.0,Angola,0.0,Angola,0.0,Angola,"7,00,00,00,000",Angola,"42,08,00,00,000",Angola,176,Angola,"16,66,000",Angola,82300,Angola,"8,27,30,00,000",Angola,"62,44,205",Angola,"3,03,55,880",Angola,"12,46,700",Angola,1600,Angola,1300,Angola,5369.0
4,Argentina,0.6521,Argentina,227,Argentina,24,Argentina,7,Argentina,9,Argentina,64,Argentina,100,Argentina,0,Argentina,370,Argentina,739,Argentina,83,Argentina,172,Argentina,26,Argentina,49.0,Argentina,0.0,Argentina,2.0,Argentina,4.0,Argentina,0.0,Argentina,"4,20,00,00,000",Argentina,"2,14,90,00,00,000",Argentina,1138,Argentina,"4,79,400",Argentina,"6,85,000",Argentina,"2,18,50,00,000",Argentina,"2,01,79,430",Argentina,"4,46,94,198",Argentina,"27,80,400",Argentina,4989,Argentina,11000,Argentina,11968.0

In [30]:
df.columns= df.columns.str.lower()

In [31]:
df= df.rename(columns={"military strength":"country"})

## Implement basic steps to see how is your data looks like

In [32]:
df.shape

(138, 60)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 60 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   country                                  138 non-null    object
 1   military strength power index            138 non-null    float64
 2   aircraft strength                        138 non-null    object
 3   aircraft strength value                  138 non-null    int64
 4   fighter/interceptor strength             138 non-null    object
 5   fighter/interceptor strength value       138 non-null    int64
 6   attack aircraft strength                 138 non-null    object
 7   attack aircraft strength value           138 non-null    int64
 8   transport aircraft fleet strength        138 non-null    object
 9   transport aircraft fleet strength value  138 non-null    int64
 10  trainer aircraft fleet                   138 non-null    object
 11  trainer aircraft fleet value             138 non-null    int64
 12  helicopter fleet strength                138 non-null    object
 13  helicopter fleet strength value          138 non-null    int64
 14  attack helicopter fleet strength         138 non-null    object
 15  attack helicopter fleet strength value   138 non-null    int64
 16  tank strength                            138 non-null    object
 17  tank strength value                      138 non-null    int64
 18  afv/apc strength                         138 non-null    object
 19  afv/apc strength value                   138 non-null    int64
 20  self-propelled artillery strength        138 non-null    object
 21  self-propelled artillery strength value  138 non-null    int64
 22  towed artillery strength                 138 non-null    object
 23  towed artillery strength value           138 non-null    int64
 24  rocket projector strength                138 non-null    object
 25  rocket projector strength value          138 non-null    int64
 26  navy fleet strengths                     124 non-null    object
 27  navy fleet strengths value               124 non-null    float64
 28  aircraft carrier fleet strength          115 non-null    object
 29  aircraft carrier fleet strength value    115 non-null    float64
 30  submarine fleet strength                 115 non-null    object
 31  submarine fleet strength value           115 non-null    float64
 32  destroyer fleet strength                 115 non-null    object
 33  destroyer fleet strength value           115 non-null    float64
 34  frigate fleet strength                   115 non-null    object
 35  frigate fleet strength value             115 non-null    float64
 36  defense spending budget                  138 non-null    object
 37  defense spending budget value            138 non-null    object
 38  external debt                            138 non-null    object
 39  external debt value                      138 non-null    object
 40  airport totals                           138 non-null    object
 41  airport totals value                     138 non-null    int64
 42  oil production                           138 non-null    object
 43  oil production value                     138 non-null    object
 44  oil consumption                          138 non-null    object
 45  oil consumption value                    138 non-null    object
 46  proven oil reserves                      138 non-null    object
 47  proven oil reserves value                138 non-null    object
 48  available manpower                       138 non-null    object
 49  available manpower value                 138 non-null    object
 50  total population                         138 non-null    object
 51  total population value                   138 non-null    object
 52  total square land area                   138 non-null    object
 53  total square land area value             138 non-null    object
 54  total coastline coverage                 109 non-null    object
 55  total coastline coverage value           109 non-null    object
 56  total waterway coverage                  138 non-null    object
 57  total waterway coverage value            138 non-null    object
 58  total border coverage                    129 non-null    object
 59  total border coverage value              129 non-null    float64
dtypes: float64(7), int64(13), object(40)
memory usage: 64.8+ KB

## Convert multi index columns to one level

## Detect and drop duplicated columns

In [34]:
df.drop(columns = df.iloc[:,2:60:2], inplace = True)

In [35]:
df.head()

       country  military strength power index  aircraft strength value  fighter/interceptor strength value  attack aircraft strength value  transport aircraft fleet strength value  trainer aircraft fleet value  helicopter fleet strength value  attack helicopter fleet strength value  tank strength value  afv/apc strength value  self-propelled artillery strength value  towed artillery strength value  rocket projector strength value  navy fleet strengths value  aircraft carrier fleet strength value  submarine fleet strength value  destroyer fleet strength value  frigate fleet strength value defense spending budget value external debt value  airport totals value oil production value oil consumption value proven oil reserves value available manpower value total population value total square land area value total coastline coverage value total waterway coverage value  total border coverage value
0  Afghanistan                         1.3444                      260                                   0                              25                                       30                             0                              187                                       0                    0                    1062                                        0                             176                               50                         0.0                                    0.0                             0.0                             0.0                           0.0               12,00,00,00,000      2,84,00,00,000                    43                    0                  5500                         0              1,43,25,743            3,49,40,837                     6,52,230                              0                          1200                       5987.0
1      Albania                         2.3137                       19                                   0                               0                                        0                             0                               19                                       0                    0                     467                                        0                               0                                0                        38.0                                    0.0                             0.0                             0.0                           0.0                  25,00,00,000      9,50,50,00,000                     4                16000                 42500              16,83,00,000                15,19,438              30,57,220                        28748                            362                            41                        691.0
2      Algeria                         0.4659                      551                                 103                              22                                       59                            87                              257                                      45                  880                    7361                                      320                             240                              316                       201.0                                    0.0                             6.0                             0.0                           5.0               13,00,00,00,000      6,26,00,00,000                   157            13,06,000              3,25,000           12,20,00,00,000              2,07,41,263            4,16,57,488                    23,81,741                            998                             0                       6734.0
3       Angola                         0.8379                      295                                  72                              18                                       30                            47                              126                                      15                  379                     595                                       28                             357                              115                        57.0                                    0.0                             0.0                             0.0                           0.0                7,00,00,00,000     42,08,00,00,000                   176            16,66,000                 82300            8,27,30,00,000                62,44,205            3,03,55,880                    12,46,700                           1600                          1300                       5369.0
4    Argentina                         0.6521                      227                                  24                               7                                        9                            64                              100                                       0                  370                     739                                       83                             172                               26                        49.0                                    0.0                             2.0                             4.0                           0.0                4,20,00,00,000   2,14,90,00,00,000                  1138             4,79,400              6,85,000            2,18,50,00,000              2,01,79,430            4,46,94,198                    27,80,400                           4989                         11000                      11968.0

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 31 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   country                                  138 non-null    object
 1   military strength power index            138 non-null    float64
 2   aircraft strength value                  138 non-null    int64
 3   fighter/interceptor strength value       138 non-null    int64
 4   attack aircraft strength value           138 non-null    int64
 5   transport aircraft fleet strength value  138 non-null    int64
 6   trainer aircraft fleet value             138 non-null    int64
 7   helicopter fleet strength value          138 non-null    int64
 8   attack helicopter fleet strength value   138 non-null    int64
 9   tank strength value                      138 non-null    int64
 10  afv/apc strength value                   138 non-null    int64
 11  self-propelled artillery strength value  138 non-null    int64
 12  towed artillery strength value           138 non-null    int64
 13  rocket projector strength value          138 non-null    int64
 14  navy fleet strengths value               124 non-null    float64
 15  aircraft carrier fleet strength value    115 non-null    float64
 16  submarine fleet strength value           115 non-null    float64
 17  destroyer fleet strength value           115 non-null    float64
 18  frigate fleet strength value             115 non-null    float64
 19  defense spending budget value            138 non-null    object
 20  external debt value                      138 non-null    object
 21  airport totals value                     138 non-null    int64
 22  oil production value                     138 non-null    object
 23  oil consumption value                    138 non-null    object
 24  proven oil reserves value                138 non-null    object
 25  available manpower value                 138 non-null    object
 26  total population value                   138 non-null    object
 27  total square land area value             138 non-null    object
 28  total coastline coverage value           109 non-null    object
 29  total waterway coverage value            138 non-null    object
 30  total border coverage value              129 non-null    float64
dtypes: float64(7), int64(13), object(11)
memory usage: 33.5+ KB

## Check for missing values

In [37]:
null_columns=df.columns[df.isnull().any()]

In [38]:
def missing (df):
    missing_number = df.isnull().sum().sort_values(ascending=False)
    missing_percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    missing_values = pd.concat([missing_number, missing_percent], axis=1, keys=['Missing_Number', 'Missing_Percent'])
    return missing_values

missing(df)

                                         Missing_Number  Missing_Percent
total coastline coverage value                       29         0.210145
aircraft carrier fleet strength value                23         0.166667
frigate fleet strength value                         23         0.166667
destroyer fleet strength value                       23         0.166667
submarine fleet strength value                       23         0.166667
navy fleet strengths value                           14         0.101449
total border coverage value                           9         0.065217
helicopter fleet strength value                       0         0.000000
attack helicopter fleet strength value                0         0.000000
total waterway coverage value                         0         0.000000
aircraft strength value                               0         0.000000
total square land area value                          0         0.000000
total population value                                0         0.000000
available manpower value                              0         0.000000
proven oil reserves value                             0         0.000000
oil consumption value                                 0         0.000000
oil production value                                  0         0.000000
airport totals value                                  0         0.000000
external debt value                                   0         0.000000
defense spending budget value                         0         0.000000
fighter/interceptor strength value                    0         0.000000
attack aircraft strength value                        0         0.000000
transport aircraft fleet strength value               0         0.000000
military strength power index                         0         0.000000
trainer aircraft fleet value                          0         0.000000
rocket projector strength value                       0         0.000000
towed artillery strength value                        0         0.000000
self-propelled artillery strength value               0         0.000000
afv/apc strength value                                0         0.000000
tank strength value                                   0         0.000000
country                                               0         0.000000

In [39]:
df[df.isnull().any(axis=1)][null_columns]

     navy fleet strengths value  aircraft carrier fleet strength value  submarine fleet strength value  destroyer fleet strength value  frigate fleet strength value total coastline coverage value  total border coverage value
5                           0.0                                    NaN                             NaN                             NaN                           NaN                            NaN                       1570.0
6                          48.0                                    2.0                             6.0                             2.0                           8.0                          25760                          NaN
7                           0.0                                    NaN                             NaN                             NaN                           NaN                            NaN                       2524.0
9                          39.0                                    0.0                             0.0                             0.0                           1.0                            161                          NaN
11                          0.0                                    NaN                             NaN                             NaN                           NaN                            NaN                       3599.0
13                          0.0                                    NaN                             NaN                             NaN                           NaN                            NaN                       1136.0
14                        173.0                                    0.0                             0.0                             0.0                           0.0                            NaN                       7252.0
16                          NaN                                    NaN                             NaN                             NaN                           NaN                            NaN                       4347.0
19                          NaN                                    NaN                             NaN                             NaN                           NaN                            NaN                       3611.0
23                          NaN                                    NaN                             NaN                             NaN                           NaN                            NaN                       5920.0
24                          NaN                                    NaN                             NaN                             NaN                           NaN                            NaN                       6406.0
30                          NaN                                    NaN                             NaN                             NaN                           NaN                            NaN                       2046.0
38                          NaN                                    NaN                             NaN                             NaN                           NaN                            NaN                       5925.0
48                          NaN                                    NaN                             NaN                             NaN                           NaN                            NaN                       2106.0
57                        155.0                                    4.0                            20.0                            40.0                           0.0                          29751                          NaN
62                          NaN                                    NaN                             NaN                             NaN                           NaN                            NaN                       4573.0
63                         36.0                                    0.0                             0.0                             0.0                           0.0                            NaN                       5274.0
69                          8.0                                    0.0                             0.0                             0.0                           0.0                           4828                          NaN
71                          NaN                                    NaN                             NaN                             NaN                           NaN                            NaN                       7908.0
74                          NaN                                    NaN                             NaN                             NaN                           NaN                            NaN                       1885.0
75                          NaN                                    NaN                             NaN                             NaN                           NaN                            NaN                       8082.0
81                          NaN                                    NaN                             NaN                             NaN                           NaN                            NaN                       3159.0
83                         11.0                                    0.0                             0.0                             0.0                           2.0                          15134                          NaN
85                          NaN                                    NaN                             NaN                             NaN                           NaN                            NaN                       5834.0
88                          NaN                                    NaN                             NaN                             NaN                           NaN                            NaN                        838.0
93                         40.0                                    0.0                             0.0                             0.0                           0.0                            NaN                       4655.0
95                        103.0                                    0.0                             0.0                             0.0                           2.0                          36289                          NaN
103                        19.0                                    0.0                             0.0                             0.0                           0.0                            NaN                       2322.0
105                        40.0                                    0.0                             0.0                             0.0                           6.0                            193                          NaN
106                         0.0                                    NaN                             NaN                             NaN                           NaN                            NaN                       1587.0
110                       234.0                                    NaN                             NaN                             NaN                           NaN                           2413                        237.0
111                         0.0                                    2.0                            22.0                            12.0                          18.0                            NaN                       6018.0
113                        40.0                                    0.0                             0.0                             0.0                           0.0                           1340                          NaN
117                         0.0                                    NaN                             NaN                             NaN                           NaN                            NaN                       1770.0
119                       117.0                                    0.0                             4.0                             4.0                          22.0                           1566                          NaN
120                         0.0                                    NaN                             NaN                             NaN                           NaN                            NaN                       4130.0
126                         8.0                                    0.0                             0.0                             0.0                           0.0                            NaN                       2729.0
132                         0.0                                    NaN                             NaN                             NaN                           NaN                            420                       6893.0
136                         0.0                                    0.0                             0.0                             0.0                           0.0                            NaN                       6043.0
137                         0.0                                    0.0                             0.0                             0.0                           0.0                            NaN                       3229.0

## Deal with missing values 
* Hint-1, use wikipedia to fill in missing values ​​comparing with similar countries
* Hint-2, Georeferences of countries can help you

 - submarine_fleet_strength_value of South Korea: 22
 - frigate_fleet_strength_value of South Korea  : 4
 - destroyer_fleet_strength_value of South Korea: 12
 - All other missing values are :  0
 ### References:
             https://www.globalfirepower.com/navy-submarines.php
             https://www.globalfirepower.com/navy-frigates.php
             https://www.globalfirepower.com/navy-destroyers.php

In [40]:
df.loc[(df['country']=="South Korea") & (df['submarine fleet strength value'].isnull()), 'submarine fleet strength value'] = 22
df.loc[(df['country']=="South Korea") & (df['frigate fleet strength value'].isnull()), 'frigate fleet strength value'] = 4
df.loc[(df['country']=="South Korea") & (df['destroyer fleet strength value'].isnull()), 'destroyer fleet strength value'] = 12

In [41]:
df = df.fillna(0)

In [42]:
missing(df)

                                         Missing_Number  Missing_Percent
country                                               0              0.0
submarine fleet strength value                        0              0.0
total waterway coverage value                         0              0.0
total coastline coverage value                        0              0.0
total square land area value                          0              0.0
total population value                                0              0.0
available manpower value                              0              0.0
proven oil reserves value                             0              0.0
oil consumption value                                 0              0.0
oil production value                                  0              0.0
airport totals value                                  0              0.0
external debt value                                   0              0.0
defense spending budget value                         0              0.0
frigate fleet strength value                          0              0.0
destroyer fleet strength value                        0              0.0
aircraft carrier fleet strength value                 0              0.0
military strength power index                         0              0.0
navy fleet strengths value                            0              0.0
rocket projector strength value                       0              0.0
towed artillery strength value                        0              0.0
self-propelled artillery strength value               0              0.0
afv/apc strength value                                0              0.0
tank strength value                                   0              0.0
attack helicopter fleet strength value                0              0.0
helicopter fleet strength value                       0              0.0
trainer aircraft fleet value                          0              0.0
transport aircraft fleet strength value               0              0.0
attack aircraft strength value                        0              0.0
fighter/interceptor strength value                    0              0.0
aircraft strength value                               0              0.0
total border coverage value                           0              0.0

## Fix the dtypes

In [43]:
df.dtypes

country                                     object
military strength power index              float64
aircraft strength value                      int64
fighter/interceptor strength value           int64
attack aircraft strength value               int64
transport aircraft fleet strength value      int64
trainer aircraft fleet value                 int64
helicopter fleet strength value              int64
attack helicopter fleet strength value       int64
tank strength value                          int64
afv/apc strength value                       int64
self-propelled artillery strength value      int64
towed artillery strength value               int64
rocket projector strength value              int64
navy fleet strengths value                 float64
aircraft carrier fleet strength value      float64
submarine fleet strength value             float64
destroyer fleet strength value             float64
frigate fleet strength value               float64
defense spending budget value               object
external debt value                         object
airport totals value                         int64
oil production value                        object
oil consumption value                       object
proven oil reserves value                   object
available manpower value                    object
total population value                      object
total square land area value                object
total coastline coverage value              object
total waterway coverage value               object
total border coverage value                float64
dtype: object

In [44]:
df.drop('country', axis=1, inplace=True)

In [45]:
for col in df.select_dtypes('object').columns:
    df[col] = df[col].str.replace(',','')
    df[col] = df[col].astype('float')

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 30 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   military strength power index            138 non-null    float64
 1   aircraft strength value                  138 non-null    int64
 2   fighter/interceptor strength value       138 non-null    int64
 3   attack aircraft strength value           138 non-null    int64
 4   transport aircraft fleet strength value  138 non-null    int64
 5   trainer aircraft fleet value             138 non-null    int64
 6   helicopter fleet strength value          138 non-null    int64
 7   attack helicopter fleet strength value   138 non-null    int64
 8   tank strength value                      138 non-null    int64
 9   afv/apc strength value                   138 non-null    int64
 10  self-propelled artillery strength value  138 non-null    int64
 11  towed artillery strength value           138 non-null    int64
 12  rocket projector strength value          138 non-null    int64
 13  navy fleet strengths value               138 non-null    float64
 14  aircraft carrier fleet strength value    138 non-null    float64
 15  submarine fleet strength value           138 non-null    float64
 16  destroyer fleet strength value           138 non-null    float64
 17  frigate fleet strength value             138 non-null    float64
 18  defense spending budget value            138 non-null    float64
 19  external debt value                      138 non-null    float64
 20  airport totals value                     138 non-null    int64
 21  oil production value                     41 non-null     float64
 22  oil consumption value                    77 non-null     float64
 23  proven oil reserves value                92 non-null     float64
 24  available manpower value                 138 non-null    float64
 25  total population value                   138 non-null    float64
 26  total square land area value             99 non-null     float64
 27  total coastline coverage value           1 non-null      float64
 28  total waterway coverage value            3 non-null      float64
 29  total border coverage value              138 non-null    float64
dtypes: float64(17), int64(13)
memory usage: 32.5 KB

In [26]:
df.isnull().sum()

military strength power index                0
aircraft strength value                      0
fighter/interceptor strength value           0
attack aircraft strength value               0
transport aircraft fleet strength value      0
trainer aircraft fleet value                 0
helicopter fleet strength value              0
attack helicopter fleet strength value       0
tank strength value                          0
afv/apc strength value                       0
self-propelled artillery strength value      0
towed artillery strength value               0
rocket projector strength value              0
navy fleet strengths value                  14
aircraft carrier fleet strength value       23
submarine fleet strength value              22
destroyer fleet strength value              22
frigate fleet strength value                22
defense spending budget value                0
external debt value                          0
airport totals value                         0
oil production value                        97
oil consumption value                       61
proven oil reserves value                   46
available manpower value                     0
total population value                       0
total square land area value                39
total coastline coverage value             137
total waterway coverage value              135
total border coverage value                  9
dtype: int64

## Drop the features that not affect military power
* Hint-1,  Georeferences not proper features

## Visualy inspect the some features

## Decriptive statistics

# Data Preprocessing

# Modelling

## Hopkins Test 
#### Assess the clusterability of a dataset. A score between 0 and 1, a score around 0.5 express no clusterability, a score tending to 1 express an uniform distrubution so clustering can't be useful and  0 express  not an uniform distrubution hence clusterering can be useful.

## Clustering with K-means

### Elbow Method 
### We use this method to find optimal k value by looking up to break point of graph.

### Model Building and label visualisation

### Evaluate

## Hierarchical Clustering

### Dendogram

### Model Building and label visualisation

### Evaluate